.player{
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(211, 211, 211, 0.514);
    span{
        display: flex;
        align-items: center;
        height: 70px;
        font-size: 2rem;
        margin-left: 16px;
        overflow-x: auto;
    }
    
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-active{
    background-color: orange !important;
}

@media (orientation: portrait) and (max-width: 600px){
    .player{
        width: 150px;

        span{
            padding-left: 10px;
            font-size: 1.75rem;
        }

        img{
            display: none;
        }
    }
}