<div class="player-overlay">
     <div class="player-area">
          <app-player *ngFor="let player of game.players; let i = index" 
                    [ngStyle]="{'top.px': 100 + 90 * i}"
                    [playerActive]="i == game.currentPlayer"
                    [name]="player"
                    class="player-position">
          </app-player>
     </div>
</div>

<div class="field">
    <div class="card-stack">

          <!-- Card stack-->
          <img 
               *ngFor="let c of game.stack; let i = index;" 
               [ngStyle]="{'right.px': i / 2}"
               src="assets/img/cards/card-backgroung.png" alt="">

          <img *ngIf="game.stack.length > 0"
               (click)="takeCard()" class="top-card" 
               [ngStyle]="{'right.px': game.stack.length / 2}" 
               src="assets/img/cards/card-backgroung.png" alt="">


          <!-- Stack for played cards-->
          <img *ngFor="let card of game.playedCards; let i = index;"
               [ngStyle]="{'right.px': i / 2}"
               class="played-cards"
               src="assets/img/cards/{{ card }}.png" alt="">

          <!-- Current card (Animation)-->
          <img (click)="takeCard()" *ngIf="game.pickCardAnimation" 
               [ngStyle]="{'right.px': game.stack.length / 2}" 
               class="pick-card" 
               src="assets/img/cards/{{ game.currentCard }}.png" alt="">
     </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
     <mat-icon>add</mat-icon>
</button>
