@media (orientation: landscape) and (max-height: 600px){
    
    .card{
        padding: 3px 10px;
    }

    .card-title{
        font-size: 1rem;
    }
    
    .card-content{
        font-size: 0.75rem;
    }
    
}